{% extends 'base.html' %}
{% block content %}
<form action="plot", method='post'>

     {% csrf_token %}
     Select company : <select name = "MyList" id="MyList">
<option value  = "ACC"> ACC Ltd.</option>
<option value  = "AUBANK"> AU Small Finance Bank Ltd.</option>
<option value  = "ADANIPORTS"> Adani Ports and Special Economic Zone Ltd.</option>
<option value  = "ADANIPOWER"> Adani Power Ltd.</option>
<option value  = "ADANITRANS"> Adani Transmission Ltd.</option>
<option value  = "ABCAPITAL"> Aditya Birla Capital Ltd.</option>
<option value  = "ABFRL"> Aditya Birla Fashion and Retail Ltd.</option>
<option value  = "AJANTPHARM"> Ajanta Pharmaceuticals Ltd.</option>
<option value  = "ALKEM"> Alkem Laboratories Ltd.</option>
<option value  = "AMARAJABAT"> Amara Raja Batteries Ltd.</option>
<option value  = "AMBUJACEM"> Ambuja Cements Ltd.</option>
<option value  = "APOLLOHOSP"> Apollo Hospitals Enterprise Ltd.</option>
<option value  = "APOLLOTYRE"> Apollo Tyres Ltd.</option>
<option value  = "ASHOKLEY"> Ashok Leyland Ltd.</option>
<option value  = "ASIANPAINT"> Asian Paints Ltd.</option>
<option value  = "AUROPHARMA"> Aurobindo Pharma Ltd.</option>
<option value  = "AXISBANK"> Axis Bank Ltd.</option>
<option value  = "BAJAJ-AUTO"> Bajaj Auto Ltd.</option>
<option value  = "BAJFINANCE"> Bajaj Finance Ltd.</option>
<option value  = "BAJAJFINSV"> Bajaj Finserv Ltd.</option>
<option value  = "BAJAJHLDNG"> Bajaj Holdings & Investment Ltd.</option>
<option value  = "BALKRISIND"> Balkrishna Industries Ltd.</option>
<option value  = "BANDHANBNK"> Bandhan Bank Ltd.</option>
<option value  = "BANKBARODA"> Bank of Baroda</option>
<option value  = "BANKINDIA"> Bank of India</option>
<option value  = "BATAINDIA"> Bata India Ltd.</option>
<option value  = "BERGEPAINT"> Berger Paints India Ltd.</option>
<option value  = "BEL"> Bharat Electronics Ltd.</option>
<option value  = "BHARATFORG"> Bharat Forge Ltd.</option>
<option value  = "BHEL"> Bharat Heavy Electricals Ltd.</option>
<option value  = "BPCL"> Bharat Petroleum Corporation Ltd.</option>
<option value  = "BHARTIARTL"> Bharti Airtel Ltd.</option>
<option value  = "INFRATEL"> Bharti Infratel Ltd.</option>
<option value  = "BIOCON"> Biocon Ltd.</option>
<option value  = "BBTC"> Bombay Burmah Trading Corporation Ltd.</option>
<option value  = "BOSCHLTD"> Bosch Ltd.</option>
<option value  = "BRITANNIA"> Britannia Industries Ltd.</option>
<option value  = "CESC"> CESC Ltd.</option>
<option value  = "CADILAHC"> Cadila Healthcare Ltd.</option>
<option value  = "CANBK"> Canara Bank</option>
<option value  = "CASTROLIND"> Castrol India Ltd.</option>
<option value  = "CHOLAFIN"> Cholamandalam Investment and Finance Company Ltd.</option>
<option value  = "CIPLA"> Cipla Ltd.</option>
<option value  = "CUB"> City Union Bank Ltd.</option>
<option value  = "COALINDIA"> Coal India Ltd.</option>
<option value  = "COLPAL"> Colgate Palmolive (India) Ltd.</option>
<option value  = "CONCOR"> Container Corporation of India Ltd.</option>
<option value  = "COROMANDEL"> Coromandel International Ltd.</option>
<option value  = "CROMPTON"> Crompton Greaves Consumer Electricals Ltd.</option>
<option value  = "CUMMINSIND"> Cummins India Ltd.</option>
<option value  = "DLF"> DLF Ltd.</option>
<option value  = "DABUR"> Dabur India Ltd.</option>
<option value  = "DALBHARAT"> Dalmia Bharat Ltd.</option>
<option value  = "DIVISLAB"> Divi's Laboratories Ltd.</option>
<option value  = "DRREDDY"> Dr. Reddy's Laboratories Ltd.</option>
<option value  = "EDELWEISS"> Edelweiss Financial Services Ltd.</option>
<option value  = "EICHERMOT"> Eicher Motors Ltd.</option>
<option value  = "EMAMILTD"> Emami Ltd.</option>
<option value  = "ENDURANCE"> Endurance Technologies Ltd.</option>
<option value  = "ENGINERSIN"> Engineers India Ltd.</option>
<option value  = "ESCORTS"> Escorts Ltd.</option>
<option value  = "EXIDEIND"> Exide Industries Ltd.</option>
<option value  = "FEDERALBNK"> Federal Bank Ltd.</option>
<option value  = "FORTIS"> Fortis Healthcare Ltd.</option>
<option value  = "FCONSUMER"> Future Consumer Ltd.</option>
<option value  = "FRETAIL"> Future Retail Ltd.</option>
<option value  = "GAIL"> GAIL (India) Ltd.</option>
<option value  = "GMRINFRA"> GMR Infrastructure Ltd.</option>
<option value  = "GICRE"> General Insurance Corporation of India</option>
<option value  = "GLENMARK"> Glenmark Pharmaceuticals Ltd.</option>
<option value  = "GODREJAGRO"> Godrej Agrovet Ltd.</option>
<option value  = "GODREJCP"> Godrej Consumer Products Ltd.</option>
<option value  = "GODREJIND"> Godrej Industries Ltd.</option>
<option value  = "GODREJPROP"> Godrej Properties Ltd.</option>
<option value  = "GRAPHITE"> Graphite India Ltd.</option>
<option value  = "GRASIM"> Grasim Industries Ltd.</option>
<option value  = "GSPL"> Gujarat State Petronet Ltd.</option>
<option value  = "HEG"> H.E.G. Ltd.</option>
<option value  = "HCLTECH"> HCL Technologies Ltd.</option>
<option value  = "HDFCAMC"> HDFC Asset Management Company Ltd.</option>
<option value  = "HDFCBANK"> HDFC Bank Ltd.</option>
<option value  = "HDFCLIFE"> HDFC Life Insurance Company Ltd.</option>
<option value  = "HAVELLS"> Havells India Ltd.</option>
<option value  = "HEROMOTOCO"> Hero MotoCorp Ltd.</option>
<option value  = "HEXAWARE"> Hexaware Technologies Ltd.</option>
<option value  = "HINDALCO"> Hindalco Industries Ltd.</option>
<option value  = "HINDPETRO"> Hindustan Petroleum Corporation Ltd.</option>
<option value  = "HINDUNILVR"> Hindustan Unilever Ltd.</option>
<option value  = "HINDZINC"> Hindustan Zinc Ltd.</option>
<option value  = "HUDCO"> Housing & Urban Development Corporation Ltd.</option>
<option value  = "HDFC"> Housing Development Finance Corporation Ltd.</option>
<option value  = "ICICIBANK"> ICICI Bank Ltd.</option>
<option value  = "ICICIGI"> ICICI Lombard General Insurance Company Ltd.</option>
<option value  = "ICICIPRULI"> ICICI Prudential Life Insurance Company Ltd.</option>
<option value  = "IDBI"> IDBI Bank Ltd.</option>
<option value  = "IDFCFIRSTB"> IDFC First Bank Ltd.</option>
<option value  = "ITC"> ITC Ltd.</option>
<option value  = "IBULHSGFIN"> Indiabulls Housing Finance Ltd.</option>
<option value  = "IBVENTURES"> Indiabulls Ventures Ltd.</option>
<option value  = "INDIANB"> Indian Bank</option>
<option value  = "INDHOTEL"> Indian Hotels Co. Ltd.</option>
<option value  = "IOC"> Indian Oil Corporation Ltd.</option>
<option value  = "IGL"> Indraprastha Gas Ltd.</option>
<option value  = "INDUSINDBK"> IndusInd Bank Ltd.</option>
<option value  = "NAUKRI"> Info Edge (India) Ltd.</option>
<option value  = "INFY"> Infosys Ltd.</option>
<option value  = "INDIGO"> InterGlobe Aviation Ltd.</option>
<option value  = "IPCALAB"> Ipca Laboratories Ltd.</option>
<option value  = "JSWENERGY"> JSW Energy Ltd.</option>
<option value  = "JSWSTEEL"> JSW Steel Ltd.</option>
<option value  = "JINDALSTEL"> Jindal Steel & Power Ltd.</option>
<option value  = "JUBLFOOD"> Jubilant Foodworks Ltd.</option>
<option value  = "JUBILANT"> Jubilant Life Sciences Ltd.</option>
<option value  = "KOTAKBANK"> Kotak Mahindra Bank Ltd.</option>
<option value  = "L&TFH"> L&T Finance Holdings Ltd.</option>
<option value  = "LTTS"> L&T Technology Services Ltd.</option>
<option value  = "LICHSGFIN"> LIC Housing Finance Ltd.</option>
<option value  = "LTI"> Larsen & Toubro Infotech Ltd.</option>
<option value  = "LT"> Larsen & Toubro Ltd.</option>
<option value  = "LUPIN"> Lupin Ltd.</option>
<option value  = "MRF"> MRF Ltd.</option>
<option value  = "MGL"> Mahanagar Gas Ltd.</option>
<option value  = "M&MFIN"> Mahindra & Mahindra Financial Services Ltd.</option>
<option value  = "M&M"> Mahindra & Mahindra Ltd.</option>
<option value  = "MANAPPURAM"> Manappuram Finance Ltd.</option>
<option value  = "MRPL"> Mangalore Refinery & Petrochemicals Ltd.</option>
<option value  = "MARICO"> Marico Ltd.</option>
<option value  = "MARUTI"> Maruti Suzuki India Ltd.</option>
<option value  = "MFSL"> Max Financial Services Ltd.</option>
<option value  = "MINDTREE"> MindTree Ltd.</option>
<option value  = "MOTHERSUMI"> Motherson Sumi Systems Ltd.</option>
<option value  = "MPHASIS"> MphasiS Ltd.</option>
<option value  = "MUTHOOTFIN"> Muthoot Finance Ltd.</option>
<option value  = "NATCOPHARM"> NATCO Pharma Ltd.</option>
<option value  = "NBCC"> NBCC (India) Ltd.</option>
<option value  = "NHPC"> NHPC Ltd.</option>
<option value  = "NMDC"> NMDC Ltd.</option>
<option value  = "NTPC"> NTPC Ltd.</option>
<option value  = "NATIONALUM"> National Aluminium Co. Ltd.</option>
<option value  = "NESTLEIND"> Nestle India Ltd.</option>
<option value  = "NAM-INDIA"> Nippon Life India Asset Management Ltd.</option>
<option value  = "OBEROIRLTY"> Oberoi Realty Ltd.</option>
<option value  = "ONGC"> Oil & Natural Gas Corporation Ltd.</option>
<option value  = "OIL"> Oil India Ltd.</option>
<option value  = "OFSS"> Oracle Financial Services Software Ltd.</option>
<option value  = "PIIND"> PI Industries Ltd.</option>
<option value  = "PNBHOUSING"> PNB Housing Finance Ltd.</option>
<option value  = "PAGEIND"> Page Industries Ltd.</option>
<option value  = "PETRONET"> Petronet LNG Ltd.</option>
<option value  = "PFIZER"> Pfizer Ltd.</option>
<option value  = "PIDILITIND"> Pidilite Industries Ltd.</option>
<option value  = "PEL"> Piramal Enterprises Ltd.</option>
<option value  = "PFC"> Power Finance Corporation Ltd.</option>
<option value  = "POWERGRID"> Power Grid Corporation of India Ltd.</option>
<option value  = "PRESTIGE"> Prestige Estates Projects Ltd.</option>
<option value  = "PGHH"> Procter & Gamble Hygiene & Health Care Ltd.</option>
<option value  = "PNB"> Punjab National Bank</option>
<option value  = "QUESS"> Quess Corp Ltd.</option>
<option value  = "RBLBANK"> RBL Bank Ltd.</option>
<option value  = "RECLTD"> REC Ltd.</option>
<option value  = "RAJESHEXPO"> Rajesh Exports Ltd.</option>
<option value  = "RELIANCE"> Reliance Industries Ltd.</option>
<option value  = "SBILIFE"> SBI Life Insurance Company Ltd.</option>
<option value  = "SRF"> SRF Ltd.</option>
<option value  = "SHREECEM"> Shree Cement Ltd.</option>
<option value  = "SRTRANSFIN"> Shriram Transport Finance Co. Ltd.</option>
<option value  = "SIEMENS"> Siemens Ltd.</option>
<option value  = "SBIN"> State Bank of India</option>
<option value  = "SAIL"> Steel Authority of India Ltd.</option>
<option value  = "STRTECH"> Sterlite Technologies Ltd.</option>
<option value  = "SUNPHARMA"> Sun Pharmaceutical Industries Ltd.</option>
<option value  = "SUNTV"> Sun TV Network Ltd.</option>
<option value  = "SYNGENE"> Syngene International Ltd.</option>
<option value  = "TVSMOTOR"> TVS Motor Company Ltd.</option>
<option value  = "TCS"> Tata Consultancy Services Ltd.</option>
<option value  = "TATACONSUM"> Tata Consumer Products Ltd.</option>
<option value  = "TATAMTRDVR"> Tata Motors Ltd DVR</option>
<option value  = "TATAMOTORS"> Tata Motors Ltd.</option>
<option value  = "TATAPOWER"> Tata Power Co. Ltd.</option>
<option value  = "TATASTEEL"> Tata Steel Ltd.</option>
<option value  = "TECHM"> Tech Mahindra Ltd.</option>
<option value  = "NIACL"> The New India Assurance Company Ltd.</option>
<option value  = "RAMCOCEM"> The Ramco Cements Ltd.</option>
<option value  = "TITAN"> Titan Company Ltd.</option>
<option value  = "TORNTPHARM"> Torrent Pharmaceuticals Ltd.</option>
<option value  = "TORNTPOWER"> Torrent Power Ltd.</option>
<option value  = "UPL"> UPL Ltd.</option>
<option value  = "ULTRACEMCO"> UltraTech Cement Ltd.</option>
<option value  = "UNIONBANK"> Union Bank of India</option>
<option value  = "UBL"> United Breweries Ltd.</option>
<option value  = "MCDOWELL-N"> United Spirits Ltd.</option>
<option value  = "VGUARD"> V-Guard Industries Ltd.</option>
<option value  = "VARROC"> Varroc Engineering Ltd.</option>
<option value  = "VBL"> Varun Beverages Ltd.</option>
<option value  = "VEDL"> Vedanta Ltd.</option>
<option value  = "IDEA"> Vodafone Idea Ltd.</option>
<option value  = "VOLTAS"> Voltas Ltd.</option>
<option value  = "WHIRLPOOL"> Whirlpool of India Ltd.</option>
<option value  = "WIPRO"> Wipro Ltd.</option>
<option value  = "ZEEL"> Zee Entertainment Enterprises Ltd.</option>     
     </select>
     <p>Start date<input type = 'date'  name='start_date' min="2016-01-01" value='{{sd}}'>
     End date<input type = 'date'  name='end_date' max='{{today}}' value='{{ed}}'></p>
     <input type="submit" value = 'Select'>
     
</form>

<div id="fig_container">
   {{ div_figure|safe }}
</div>
<script src="https://d3js.org/d3.v2.js"></script>

<script>
var obj=document.getElementById("MyList");
for (var i=0;i<obj.length;i++){if(obj.options[i].value==='{{cn}}')obj.selectedIndex=i;}

</script>

{% endblock %}
